<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d97ffc51-167b-4eb2-8c7e-e377df67e4cb" name="BABA" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d97ffc51-167b-4eb2-8c7e-e377df67e4cbfileName">BABA</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
